<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resturant</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body ng-app="resturant" ng-controller="RestoCon">
    <div class="main">
      <h1>Welcome to resturant</h1>
      <br /><br />
      <div ng-repeat="dish in dishes">
        <span>Dish Name: {{dish.name}} </span><br />
        <span>Dish ingredients: {{dish.ingredients}} </span><br />
        <span>Dish price: {{ dish.price | currency:('₹')}} </span
        ><br /><br /><br />
      </div>
      <div>
        Enter Name<input type="text" , ng-model="name" /> <br />
        Enter ingredients<input type="text" , ng-model="ingredient" />
        <button type="button" ng-click="pushIngredients(ingredient)">
          add ingredients
        </button>
        <button type="button" ng-click="removeLastIngredient()">
          remove last ingredient
        </button>
        {{ ingredients }}
        <br />
        Enter Price<input type="text" , ng-model="price" /> <br />
        <button
          ng-click="addDishes({name: name, ingredients: ingredients, price: price})"
        >
          Add
        </button>
      </div>
      <a href="./randomrecipie.html">Get a Random Recipie</a>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="./resturant.js"></script>
  </body>
</html>
